* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/sky.jpg');
    background-size: cover;
    z-index: -2;
    
}

.weather-forecast {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    min-height: 100%;
    box-shadow: 20px;
}

#name {
    font-size: 1.7em;
    color: rgb(29, 29, 85);
    padding-top: 20px;
}

#date-now {
    font-size: 0.8em;
}

#icon {
    padding-top: 20px;
}

#temp {
    font-size: 3.5em;
}

#describe {
    padding-bottom: 20px;
}